body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background: url(http://i.playground.ru/i/52/56/83/10/pix/image.jpg) no-repeat;
    background-size: 100%;
}

header {
    font-size: 60px;
    font-weight: bold;
    margin-top: 30px;
    cursor: default;
    color: rgb(187, 0, 0);
    text-align: center;
    user-select: none;
}

.links {
    height: 45px;
    margin-top: 18%;
    line-height: 12px;
    vertical-align: middle;
    text-align: center;
    padding: 0px;
    display: flex;
    justify-content: center;
}

a {
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    cursor: default;
    color: white;
    text-decoration: none;
}

.classic {
    margin-right: 340px;
    width: 259px;
    padding: 40px 10px 50px 10px;
    background-color: rgba(72, 142, 247, 0.89);
    border: 2px solid rgba(84, 151, 252, 0.801);
}

.rpn {
    width: 259px;
    padding: 28px 10px 62px 10px;
    background-color: rgba(199, 20, 20, 0.89);
    border: 2px solid rgba(233, 9, 9, 0.801);
}

.rpn p {
    color: white;
    font-size: 15px;
    margin-top: 10px;
}

.classic:hover {
    width: 263px;
    border: none;
    font-size: 41px;
    background-color: rgba(72, 142, 247, 0.582);
    box-shadow: 10px 10px 10px rgba(172, 205, 255, 0.582),
                -10px 10px 10px rgba(172, 205, 255, 0.582),
                10px -10px 10px rgba(172, 205, 255, 0.582),
                -10px -10px 10px rgba(172, 205, 255, 0.582);
}

.rpn:hover {
    width: 263px;
    border: none;
    font-size: 43px;
    background-color: rgba(199, 20, 20, 0.582);
    box-shadow: 15px 15px 10px rgba(214, 56, 56, 0.582),
                -15px 15px 10px rgba(214, 56, 56, 0.582),
                15px -15px 10px rgba(214, 56, 56, 0.582),
                -15px -15px 10px rgba(214, 56, 56, 0.582);
}

.classic:active {
    background-color: rgba(44, 84, 143, 0.89);
    border: 2px solid rgba(65, 117, 194, 0.801);
}

.rpn:active {
    background-color: rgba(129, 13, 13, 0.89);
    border: 2px solid rgba(148, 6, 6, 0.801);
}